<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tickets Prioritários</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='img/LOGO.PNG') }}" alt="Logo da Empresa" class="logo-img">
            <h1>Gerenciador de Tickets</h1>
        </div>
        <nav>
            <ul>
                <!-- Ocultar "Tickets Gerais" para a Diretoria -->
                {% if current_user.role != 'DIRETORIA' %}
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Tickets Gerais</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('index') }}">Página Inicial</a>
                            <a href="{{ url_for('abrir_ticket', origem='index') }}">Criar Ticket</a>
                            <a href="{{ url_for('tickets_resolvidos') }}">Tickets Resolvidos</a>
                            {% if current_user.role == 'admin' %}
                                <a href="{{ url_for('gerenciar_usuarios') }}">Gerenciar Usuários</a>
                            {% endif %}
                        </div>
                    </li>
                {% endif %}

                <!-- Ocultar "Tickets Prioritários" para usuários comuns (user) -->
                {% if current_user.role != 'user' %}
                    <li class="dropdown">
                        <a href="#" class="dropbtn">Tickets Prioritários</a>
                        <div class="dropdown-content">
                            <a href="{{ url_for('abrir_ticket', origem='prioritario') }}">Criar Ticket Prioritário</a>
                            <a href="{{ url_for('prioritario') }}">Tickets Prioritários</a>
                            <a href="{{ url_for('tickets_resolvidos_prioritario') }}">Tickets Resolvidos Prioritários</a>
                        </div>
                    </li>
                {% endif %}

                <!-- Logout e informações do usuário -->
                <li class="user-info dropdown">
                    <a href="#" class="dropbtn">{{ current_user.username }}</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('alterar_senha') }}">Criar Nova Senha</a>
                        <a href="{{ url_for('logout') }}">Logout</a>
                    </div>
                </li>
            </ul>
        </nav>
    </header>

    <main>
        <h2>Tickets Prioritários</h2>

        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Usuário</th>
                        <th>Setor</th>
                        <th>Tipo de Atendimento</th>
                        <th>Descrição</th>
                        <th>Ramal</th>
                        <th>Prioridade</th>
                        <th>Status</th>
                        <th>Responsável</th>
                        <th>Ações</th>
                        <th>Assumir</th>
                    </tr>
                </thead>
                <tbody>
                    {% for ticket in tickets %}
                        <tr>
                            <td>{{ ticket[0] }}</td>
                            <td>{{ ticket[1] }}</td>
                            <td>{{ ticket[2] }}</td>
                            <td>{{ ticket[3] }}</td>
                            <td>{{ ticket[4] }}</td>
                            <td>{{ ticket[5] }}</td>
                            <td>{{ ticket[8] }}</td> <!-- Prioridade -->
                            <td>{{ ticket[7] }}</td> <!-- Status -->
                            <td>
                                {% if ticket[9] %}
                                    {{ ticket[9] }} <!-- Responsável -->
                                {% else %}
                                    Nenhum
                                {% endif %}
                            </td>
                            <td>
                                {% if current_user.role == 'admin' %}
                                    <a href="{{ url_for('editar_ticket_prioritario', id=ticket[0]) }}" class="btn-editar">Editar</a>
                                {% endif %}
                                {% if current_user.role in ['user', 'DIRETORIA'] %}
                                    <a href="{{ url_for('editar_ticket_prioritario', id=ticket[0]) }}" class="btn-editar">Visualizar</a>
                                {% endif %}
                            </td>
                            <td>
                                {% if current_user.role == 'admin' and not ticket[9] %}
                                    <form action="{{ url_for('assumir_ticket_prioritario', ticket_id=ticket[0]) }}" method="POST" style="display: inline;">
                                        <button type="submit" class="btn-assumir">Assumir</button>
                                    </form>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

    <footer>
    <p>&copy; 2025 Gerenciador de Tickets. Desenvolvido por 
        <a href="https://github.com/BlackSouza1337" target="_blank" style="text-decoration: none; color: inherit;">
            BlackSouza1337
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub" width="16" height="16" style="vertical-align: middle; margin-left: 5px;">
        </a>
    </p>
</footer>
</body>
</html>
